#SERVER 
SERVER_PORT=8082

#url microservicios
MS_MASCOTAS_URL=http://sanos_ms_mascotas:8080
MS_GEOLOCALIZACION_URL=http://sanos_ms_geolocalizacion:8081

#config clerk
# El Issuer URL debe ser parecido a: https://[tu-id-aqui].clerk.accounts.dev
CLERK_SECRET_KEY=sk_test_... (tu llave secreta real)
CLERK_ISSUER_URL=https://bright-pigeon-42.clerk.accounts.dev