#SERVER 
SERVER_PORT=8082

#url microservicios
MS_MASCOTAS_URL=http://sanos_ms_mascotas:8080
MS_GEOLOCALIZACION_URL=http://sanos_ms_geolocalizacion:8081

#config clerk
# Encuentra tu Issuer URI en el Dashboard de Clerk (suele terminar en .clerk.accounts.dev/)
CLERK_ISSUER_URI=https://tu-issuer-de-clerk.clerk.accounts.dev/